{% extends "base.html" %}
{% block title %}BikePortal{% endblock %}

{% block content %}
<div class="bg-gray-800 pt-3">
    <div class="rounded-tl-3xl bg-gradient-to-r from-blue-900 to-gray-800 p-4 shadow text-2xl text-white">
        <h3 class="font-bold pl-2">Welcome!</h3>
    </div>
</div>

<div class="flex flex-wrap">
    <div class="w-full md:w-1/2 xl:w-1/3 p-6">
        <!--First weather Card-->
        <div class="bg-gradient-to-b from-green-200 to-green-100 border-b-4 border-green-600 rounded-lg shadow-xl p-5">
            <div class="flex flex-row items-center">
                <div class="flex-shrink pr-4">

                </div>
                <div class="flex-1 text-right md:text-center">
                    <h5 class="font-bold uppercase text-gray-600 p-1">Weather Now<br>date_of_measure</h5>
                    <h3 class="font-bold text-xl p-1"><i class="fas fa-thermometer-three-quarters pr-0 md:pr-3"></i>
                        Temp. 13&degC RealFeel 13&degC</h3>
                    <h3 class="font-bold text-xl p-1"><i class="fas fa-tint pr-0 md:pr-3"></i> Humidity 86%</h3>
                    <h3 class="font-bold text-xl p-1"><i class="fas fa-wind pr-0 md:pr-3"></i> Wind 13 kph Gust 16 kph
                    </h3>
                    <h3 class="font-bold text-xl p-1"><i class="fas fa-compass pr-0 md:pr-3"></i> Wind Direction ENE
                    </h3>
                    <h3 class="font-bold text-xl p-1"><i class="fas fa-cloud pr-0 md:pr-3"></i> rain/snow fall mm
                        predictions </h3>
                </div>
            </div>
        </div>
        <!--/First weather Card-->
    </div>
    <div class="w-full md:w-1/2 xl:w-1/3 p-6">
        <!--Second weather Card-->
        <div class="bg-gradient-to-b from-green-200 to-green-100 border-b-4 border-green-600 rounded-lg shadow-xl p-5">
            <div class="flex flex-row items-center">
                <div class="flex-shrink pr-4">

                </div>
                <div class="flex-1 text-right md:text-center">
                    <h5 class="font-bold uppercase text-gray-600 p-1">Weather Now<br>date_of_measure</h5>
                    <h3 class="font-bold text-xl p-1"><i class="fas fa-thermometer-three-quarters pr-0 md:pr-3"></i>
                        Temp. 13&degC RealFeel 13&degC</h3>
                    <h3 class="font-bold text-xl p-1"><i class="fas fa-tint pr-0 md:pr-3"></i> Humidity 86%</h3>
                    <h3 class="font-bold text-xl p-1"><i class="fas fa-wind pr-0 md:pr-3"></i> Wind 13 kph Gust 16 kph
                    </h3>
                    <h3 class="font-bold text-xl p-1"><i class="fas fa-compass pr-0 md:pr-3"></i> Wind Direction ENE
                    </h3>
                    <h3 class="font-bold text-xl p-1"><i class="fas fa-cloud pr-0 md:pr-3"></i> rain/snow fall mm
                        predictions </h3>
                </div>
            </div>
        </div>
        <!--/Second weather Card-->
    </div>
    <div class="w-full md:w-1/2 xl:w-1/3 p-6">
        <!--Third weather Card-->
        <div class="bg-gradient-to-b from-green-200 to-green-100 border-b-4 border-green-600 rounded-lg shadow-xl p-5">
            <div class="flex flex-row items-center">
                <div class="flex-shrink pr-4">

                </div>
                <div class="flex-1 text-right md:text-center">
                    <h5 class="font-bold uppercase text-gray-600 p-1">Weather Now<br>date_of_measure</h5>
                    <h3 class="font-bold text-xl p-1"><i class="fas fa-thermometer-three-quarters pr-0 md:pr-3"></i>
                        Temp. 13&degC RealFeel 13&degC</h3>
                    <h3 class="font-bold text-xl p-1"><i class="fas fa-tint pr-0 md:pr-3"></i> Humidity 86%</h3>
                    <h3 class="font-bold text-xl p-1"><i class="fas fa-wind pr-0 md:pr-3"></i> Wind 13 kph Gust 16 kph
                    </h3>
                    <h3 class="font-bold text-xl p-1"><i class="fas fa-compass pr-0 md:pr-3"></i> Wind Direction ENE
                    </h3>
                    <h3 class="font-bold text-xl p-1"><i class="fas fa-cloud pr-0 md:pr-3"></i> rain/snow fall mm
                        predictions </h3>
                </div>
            </div>
        </div>
        <!--/Third weather Card-->
    </div>
    <div class="w-full md:w-1/2 xl:w-2/3 p-6">
        <!--Maintenance frame Card-->
        <div class="bg-gradient-to-b from-indigo-200 to-indigo-100 border-b-4 border-indigo-500 rounded-lg shadow-xl p-5">
            <div class="flex flex-row items-center">
                <div class="flex-1 text-center md:text-center">

                    <div class="bg-gradient-to-b from-yellow-200 to-yellow-100 border-b-4 border-yellow-600 rounded-lg shadow-xl p-5">
            <div class="flex flex-row items-center">
                <div class="flex-shrink pr-4">

                </div>
                <div class="flex-1 text-right md:text-center">
                    <h5 class="font-bold uppercase text-gray-600 p-1">Task no 1</h5>
                </div>
            </div>
        </div>

                </div>
            </div>
        </div>
        <!--/Maintenance frame Card-->
    </div>
    <div class="w-full md:w-1/2 xl:w-1/3 p-6">
        <!--Yesterday krakow data Card-->
        <div class="bg-gradient-to-b from-indigo-200 to-indigo-100 border-b-4 border-indigo-500 rounded-lg shadow-xl p-5">
            <div class="flex flex-row items-center">
                <div class="flex-shrink pr-4">
                    <div class="rounded-full p-5 bg-indigo-600"><i class="fas fa-chart-bar fa-2x fa-inverse"></i></div>
                </div>
                <div class="flex-1 text-right md:text-center">
                    <h5 class="font-bold uppercase text-gray-600 p-1">Yesterday Krakow Cyclists</h5>
                    <h3 class="font-bold text-xl p-1">AVG 1300</h3>
                    <h3 class="font-bold text-xl p-1">Max 3340</h3>
                    <h3 class="font-bold text-xl p-1">Min 340</h3>
                </div>
            </div>
        </div>
        <!--/Yesterday krakow data Card-->
    </div>

</div>
{% endblock %}

