{% extends "base.html" %}
{% block title %}BikePortal{% endblock %}

{% block content %}
<div class="bg-gray-800 pt-3">
    <div class="rounded-tl-3xl bg-gradient-to-r from-blue-900 to-gray-800 p-4 shadow text-2xl text-white">
        <h3 class="font-bold pl-2">Main Page</h3>
    </div>
</div>

<div class="flex flex-wrap">
    <div class="w-full p-6">
        <!--Metric Card-->
        <div class="bg-gradient-to-b from-green-200 to-green-100 border-b-4 border-green-600 rounded-lg shadow-xl p-5">
            <div class="flex flex-row items-center">
                <div class="flex-shrink pr-4">
                    <div class="rounded-full p-5 bg-green-600"><i class="fa fa-wallet fa-2x fa-inverse"></i></div>
                </div>
                <div class="flex-1 text-right md:text-center">
                    <h5 class="font-bold uppercase text-gray-600">Total Revenue</h5>
                    <h3 class="font-bold text-xl">
                        <form method="POST" action="">
                            {% csrf_token %}
                            {{form.title}}
                            {{form.desc}}
                            {{form.priority}}
                            {{form.bike_name}}
                            <input class="btn btn-info" type="submit" name="Add"></form>
                    </h3>

                </div>
            </div>
        </div>
        <!--/Metric Card-->
    </div>
    <div class="w-full p-6">
        <!--Metric Card-->
        {% if ticks %}
        {% for tick in ticks %}
        <div class="bg-gradient-to-b from-pink-200 to-pink-100 border-b-4 border-pink-500 rounded-lg shadow-xl p-5">
            <div class="flex flex-row items-center">
                <div class="flex-shrink pr-4">
                    <div class="rounded-full p-5 bg-pink-600"><i class="fas fa-users fa-2x fa-inverse"></i></div>
                </div>
                <div class="flex-1 text-right md:text-center">
                    <h5 class="font-bold uppercase text-gray-600">Total Users</h5>
                    <h3 class="font-bold text-3xl">
                        <h4>

                            {{tick.title}}
                            {{tick.desc}}</h4>

                    </h3>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="bg-gradient-to-b from-pink-200 to-pink-100 border-b-4 border-pink-500 rounded-lg shadow-xl p-5">
            <div class="flex flex-row items-center">
                <div class="flex-shrink pr-4">
                    <div class="rounded-full p-5 bg-pink-600"><i class="fas fa-users fa-2x fa-inverse"></i></div>
                </div>
                <div class="flex-1 text-right md:text-center">
                    <h5 class="font-bold uppercase text-gray-600">Nothing</h5>
                    <h3 class="font-bold text-3xl">


                    </h3>
                </div>
            </div>
        </div>
        {% endif %}
        <!--/Metric Card-->
    </div>

</div>
{% endblock %}

